<div class="container">
<form method="POST" action="/users/new">
  <input required type="text" name="user[name]" placeholder="name">
  <input required type="email" name="user[email]" placeholder="email">
  <input required type="password" name="user[password]" placeholder="password" >
  <input type="submit" value="create me">
</form>
</div>
