<div class="container">
  <h1 class="jumbotron">Welcome <%= @user.name %>!</h1>

  <% if @user.animals.any? %>
    <p> Here are the animals you have adopted: </p>
    <ul>
    <% @user.animals.each do |animal| %>
     <li><%= animal.name %></li>
    <% end %>
</ul>
 <% end %>



  <a href="/users/<%= session[:id] %>/edit">Edit an Account</a>
  <a href="/users/logout">Logout</a>

</div>
