<div class="container">
  <h1 class="jumbotron">Welcome to Our URL Shortener!</h1>

  <form action="/urls" method="post" class="form-inline">
  <div class="form-group">
    <input type="text" name="long_url" placeholder="give me long url" class="form-control">
    <input type="submit" value="Shorten Url" class="btn btn-primary">
  </div>
  </form>

  <% if flash[:notice].nil? == false %>
   <h4> Here is your new url:  <%= flash[:notice] %> </h4>
  <% end %>

   <% if @all_urls.nil? == false %>
   <table class="table table-striped table-bordered">
     <tr>
       <th> Long Url </th>
       <th> Short Url </th>
       <th> Hit Count </th>
     </tr>
     <% @all_urls.each do |url| %>
      <tr>
       <td> <%= url.long_url %> </td>
       <td> <%= url.short_url %> </td>
       <td> <%= url.clicks %> </td>
     </tr>
     <% end %>
   </table>
  <% end %>

  <a href="/users/new">Create an Account</a>
  <a href="/users/login">Login</a>

</div>
