<div class="container">
  <h1 class="jumbotron">Welcome to Our URL Shortener!</h1>

  <form action="/urls" method="post" class="form-inline">
  <div class="form-group">
    <input type="text" name="long_url" placeholder="give me long url" class="form-control">
    <input type="submit" value="Shorten Url" class="btn btn-primary">
  </div>
  </form>

   <h4> Here are the amazing animals that have been adopted </h4>

   <% if @all_animals.nil? == false %>
   <table class="table table-striped table-bordered">
     <tr>
       <th> Adopter </th>
       <th> Adoptee </th>
     </tr>
     <% @all_animals.each do |url| %>
      <tr>
       <td> <%= @animal.name %> </td>
       <td> <%= @animal.adopter.name %> </td>
     </tr>
     <% end %>
   </table>
  <% end %>

  <a href="/users/new">Create an Account</a>
  <a href="/users/login">Login</a>

</div>
