<div class="container">
  <h1 class="jumbotron">Welcome to the DevBootcamp Humane Society!</h1>

   <h4> Here are the amazing animals that have been adopted </h4>

   <% if @all_animals.nil? == false %>
   <table class="table table-striped table-bordered">
     <tr>
       <th> Adoptee </th>
       <th> Adopter </th>
     </tr>
     <% @all_animals.select{|a| !a.adopter.nil? }.each do |animal| %>
      <tr>
       <td> <%= animal.name %> </td>

       <td> <%= animal.adopter.id %> </td>
     </tr>
     <% end %>
   </table>
  <% end %>

  <h4>Here are the animals that are rejects</h4>

  <% if @all_animals.nil? == false %>
   <table class="table table-striped table-bordered">
     <tr>
       <th> Poor Animal </th>
       <th>Location</th>
     </tr>
     <% @all_animals.select{|a| a.adopter.nil? }.each do |animal| %>
      <tr>
       <td> <%= animal.name %> </td>
       <td> <%= animal.location.name %> </td>
     </tr>
     <% end %>
   </table>
  <% end %>

  <a href="/users/new">Create an Account</a>
  <a href="/users/login">Login</a>

</div>
